@model List<BlogPost>

<div class="card">
    <div class="card-header">
        <a asp-action="CreateOrEdit" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New Blog Post
        </a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Heading</th>
                    <th>PageTitle</th>
                    <th>Content</th>
                    <th>ShortDescription</th>
                    <th>FeaturedImageUrl</th>
                    <th>UrlHandle</th>
                    <th>PublishedDate</th>
                    <th>Author</th>
                    <th>Visible</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {
                    <tr>
                        <td>@post.Id</td>
                        <td>@post.Heading</td>
                        <td>@post.PageTitle</td>
                        <td>@post.Content</td>
                        <td>@post.ShortDescription</td>
                        <!-- <td>@post.FeaturedImageUrl</td> -->
                        <td>
                            @if (!string.IsNullOrEmpty(post.FeaturedImageUrl))
                            {
                                <a href="@Url.Content(post.FeaturedImageUrl)" target="_blank">View</a>
                            }
                            else
                            {
                                <span class="text-muted">No File</span>
                            }
                        </td>
                        <td>@post.UrlHandle</td>
                        <td>@post.PublishedDate</td>
                        <td>@post.Author</td>
                        <td>@post.Visible</td>
                        <td>
                            <a asp-action="CreateOrEdit" asp-route-id="@post.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                            <form method="post" asp-action="Delete" asp-route-id="@post.Id" onclick="return confirm('Are You Sure Delete Data')">
                                <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i></button>
                            </form>
                            <a asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary"><i class="bi bi-info-circle"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>



@section Scripts {
    <script>
        $(function () {
          $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
          }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
          $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
          });
        });
    </script>
}



@* <a asp-action="CreateOrEdit" class="btn btn-primary btn-sm">Add New Blogpost</a>

<table class="table table-bordered table-striped">
    <thead >
        <tr>
            <th>Id</th>
            <th>Heading</th>
            <th>PageTitle</th>
            <th>Content</th>
            <th>ShortDescription</th>
            <th>FeaturedImageUrl</th>
            <th>UrlHandle</th>
            <th>PublishedDate</th>
            <th>Author</th>
            <th>Visible</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var post in Model)
        {
          <tr>
              <td>@post.Id</td>
              <td>@post.Heading</td>
              <td>@post.PageTitle</td>
              <td>@post.Content</td>
              <td>@post.ShortDescription</td>
              <td>@post.FeaturedImageUrl</td>
              <td>@post.UrlHandle</td>
              <td>@post.PublishedDate</td>
              <td>@post.Author</td>
              <td>@post.Visible</td>
              <td>
                  <a asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary">Details</a>
                    <form method="post" asp-action="Delete" asp-route-id="@post.Id">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
         
                    <a asp-action="CreateOrEdit" asp-route-id="@post.Id" class="btn btn-primary">Edit</a>
                </td>
          </tr>  
        }
    </tbody>
</table> *@